body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.block{
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 400px;
    background: linear-gradient(0deg, black,  rgb(85, 85, 85));
    border-radius: 30px;
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(75, 86, 34), rgb(155, 150, 0), rgb(253, 110, 0), rgb(0, 255, 247), rgb(0, 89, 255), rgb(30, 0, 255),  rgb(99, 53, 239),    rgb(178, 29, 189)     );
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
    border-radius: 30px;
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.glow::after{
    filter: blur(40px);
}
















